# feature engineering template

In [3]:
import warnings
warnings.filterwarnings('ignore')
import featuretools as ft
import pandas as pd
import numpy as np

In [73]:
df_target = pd.read_csv('dataset/train_target.csv')
df_online_train = pd.read_csv('dataset/online_train.csv')
df_offline_train = pd.read_csv('dataset/offline_train.csv')

In [74]:
df_target = df_target[['User_id','Merchant_id','Coupon_id','Date_received','Date','datediff','target']]
df_target['Date_received'] = pd.to_datetime(df_target['Date_received'])
df_target['Date'] = pd.to_datetime(df_target['Date'])

In [75]:
df_target['month_received'] = df_target['Date_received'].apply(lambda x : x.month)

In [76]:
df_target_5 = df_target[df_target['month_received'] == 5]

In [77]:
user = df_target_5[['User_id']].drop_duplicates()
merchant = df_target_5[['Merchant_id']].drop_duplicates()
coupon = df_target_5[['Coupon_id']].drop_duplicates()

In [78]:
es = ft.EntitySet(id='offline_test')

In [79]:
es = es.entity_from_dataframe(entity_id='user',
                             dataframe=user,
                             index='User_id',
                             variable_types={'User_id':ft.variable_types.Id})

es = es.entity_from_dataframe(entity_id='merchant',
                             dataframe=merchant,
                             index='Merchant_id',
                             variable_types={'Merchant_id':ft.variable_types.Id})

es = es.entity_from_dataframe(entity_id='coupon',
                             dataframe=coupon,
                             index='Coupon_id',
                             variable_types={'Coupon_id':ft.variable_types.Id})

In [88]:
df_offline_train['with_coupon'] = df_offline_train['Coupon_id'].notna()

In [93]:
df_offline_train['Date_received'] = pd.to_datetime(df_offline_train['Date_received'])
df_offline_train['Date'] = pd.to_datetime(df_offline_train['Date'])
df_offline_train['datediff'] = (df_offline_train['Date'] - df_offline_train['Date_received'] ).apply(lambda x:x.days)

In [95]:
df_offline_train.head(20)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,discount_type,uniform_discount_rate,promotion_condition,promotion_amonut,with_coupon,datediff
0,1439408,2632,NaN,NaN,0.0,NaT,2016-02-17,NaN,NaN,NaN,NaN,False,NaN
1,1439408,4663,11002.0,150:20,1.0,2016-05-28,NaT,1.0,0.866667,150.0,20.0,True,NaN
2,1439408,2632,8591.0,20:1,0.0,2016-02-17,NaT,1.0,0.950000,20.0,1.0,True,NaN
3,1439408,2632,1078.0,20:1,0.0,2016-03-19,NaT,1.0,0.950000,20.0,1.0,True,NaN
4,1439408,2632,8591.0,20:1,0.0,2016-06-13,NaT,1.0,0.950000,20.0,1.0,True,NaN
5,1439408,2632,NaN,NaN,0.0,NaT,2016-05-16,NaN,NaN,NaN,NaN,False,NaN
6,1439408,2632,8591.0,20:1,0.0,2016-05-16,2016-06-13,1.0,0.950000,20.0,1.0,True,28.0
7,1832624,3381,7610.0,200:20,0.0,2016-04-29,NaT,1.0,0.900000,200.0,20.0,True,NaN
8,2029232,3381,11951.0,200:20,1.0,2016-01-29,NaT,1.0,0.900000,200.0,20.0,True,NaN
9,2029232,450,1532.0,30:5,0.0,2016-05-30,NaT,1.0,0.833333,30.0,5.0,True,NaN
10,2029232,6459,12737.0,20:1,0.0,2016-05-19,NaT,1.0,0.950000,20.0,1.0,True,NaN
11,2029232,6459,NaN,NaN,0.0,NaT,2016-06-26,NaN,NaN,NaN,NaN,False,NaN
12,2029232,6459,NaN,NaN,0.0,NaT,2016-05-19,NaN,NaN,NaN,NaN,False,NaN
13,2747744,6901,1097.0,50:10,NaN,2016-06-06,NaT,1.0,0.800000,50.0,10.0,True,NaN
14,196342,1579,NaN,NaN,1.0,NaT,2016-06-06,NaN,NaN,NaN,NaN,False,NaN
15,196342,1579,10698.0,20:1,1.0,2016-06-06,NaT,1.0,0.950000,20.0,1.0,True,NaN
16,2223968,3381,9776.0,10:5,2.0,2016-01-29,NaT,1.0,0.500000,10.0,5.0,True,NaN
17,73611,2099,12034.0,100:10,NaN,2016-02-07,NaT,1.0,0.900000,100.0,10.0,True,NaN
18,163606,1569,5054.0,200:30,10.0,2016-04-21,NaT,1.0,0.850000,200.0,30.0,True,NaN
19,3273056,4833,7802.0,200:20,10.0,2016-01-30,NaT,1.0,0.900000,200.0,20.0,True,NaN